/* Colors */
$defaultColor: #b0b0b0;
$blueColor: #24a0ed;
$blackColor: #000000;
$redColor: #f44336;
$greenColor: #41a85f;

/* Sizes */
$headerHeight: 70px;
$footerHeight: 50px;
$headerHeightMobile: 50px;

/* z-indexes */
$modalIndex: 10;